.form-part {
  form {
    .remember-txt {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      font-size: 14px;
      &input {
        width: 11px;
      }
      .remeber-checkbox {
        cursor: pointer;
        padding-left: 6px;
      }
      .forgot-password {
        cursor: pointer;
        text-decoration: none;
        color: gray;
      }
    }
    .cursor-pointer {
      cursor: pointer;
    }
    .login-btn {
      cursor: pointer;
      border-radius: 8px;
      background-color: var(--color-blue);
      color: white;
      font-size: 14px;
    }
  }
  .or {
    opacity: 0.6;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .w-45 {
    width: 45%;
  }
  .footer-part {
    .footer-btn {
      background: transparent;
      border: 0.5px solid rgb(128, 128, 128, 0.3);
      border-radius: 8px;
      padding: 8px;
    }
    .txt-20 {
      font-size: 20px;
    }
    .txt-18 {
      font-size: 18px;
    }
    hr {
      opacity: 0.2;
    }
    .footer-txt {
      color: var(--color-blue);
      text-decoration: none;
    }
  }
}
