<div class="position">
  <div class="main-div p-3">
    <div class="m-2">
      <div
        class="m-0 pb-2 mb-2 d-flex header-txt justify-content-between align-items-center"
      >
        <p>
          <span
            class="pe-1 color-orange"
            nz-icon
            nzType="key"
            nzTheme="outline"
          ></span>
          Change Password
        </p>
        <p class="close-btn" (click)="closePage()">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </p>
      </div>
    </div>
    <div class="m-2">
      <form
        class="w-100"
        [formGroup]="changePasswordForm"
        (ngSubmit)="submit()"
      >
        <div class="position-relative">
          <p class="txt-13 m-0 pt-1 password mt-3">
            Old Password <span class="text-danger">*</span>
          </p>
          <input
            type="{{ oldPasswordType }}"
            class="w-100 p-2 input-field-style position-relative"
            formControlName="oldPassword"
            [ngStyle]="{
              'outline-color':
                changePasswordForm.controls['oldPassword'].invalid &&
                changePasswordForm.controls['oldPassword'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
          <a
            (click)="togglePasswordVisibility('oldPassword')"
            class="border-0 fa-eye-position text-black"
          >
            <span
              nz-icon
              nzType="{{ oldPasswordVisible ? 'eye' : 'eye-invisible' }}"
              nzTheme="outline"
            ></span>
          </a>
          <div class="py-1 position-relative">
            <p
              class="m-0 text-danger position-absolute txt-14"
              *ngIf="
                changePasswordForm.controls['oldPassword'].invalid &&
                changePasswordForm.controls['oldPassword'].touched
              "
            >
              Please enter old password
            </p>
          </div>
        </div>
        <div class="position-relative">
          <p class="txt-13 m-0 pt-1 password mt-2">
            New Password <span class="text-danger">*</span>
          </p>
          <input
            type="{{ newPasswordType }}"
            class="w-100 p-2 input-field-style position-relative"
            formControlName="newPassword"
            [ngStyle]="{
              'outline-color':
                changePasswordForm.controls['newPassword'].invalid &&
                changePasswordForm.controls['newPassword'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
          <a
            (click)="togglePasswordVisibility('newPassword')"
            class="border-0 fa-eye-position text-black"
          >
            <span
              nz-icon
              nzType="{{ newPasswordVisible ? 'eye' : 'eye-invisible' }}"
              nzTheme="outline"
            ></span>
          </a>
          <div class="py-1 position-relative">
            <p
              class="m-0 text-danger position-absolute txt-14"
              *ngIf="
                changePasswordForm.controls['newPassword'].invalid &&
                changePasswordForm.controls['newPassword'].touched
              "
            >
              Min character 8 (uppe, lower, special, num)
            </p>
          </div>
        </div>
        <div class="position-relative mb-2">
          <p class="txt-13 m-0 pt-1 password mt-2">
            Confirm Password <span class="text-danger">*</span>
          </p>
          <input
            type="{{ confirmPasswordType }}"
            class="w-100 p-2 input-field-style position-relative"
            formControlName="confirmPassword"
            [ngStyle]="{
              'outline-color':
                changePasswordForm.controls['confirmPassword'].invalid &&
                changePasswordForm.controls['confirmPassword'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
          <a
            (click)="togglePasswordVisibility('confirmPassword')"
            class="border-0 fa-eye-position text-black"
          >
            <span
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              nzType="{{ confirmPasswordVisible ? 'eye' : 'eye-invisible' }}"
            ></span>
          </a>
          <div class="pb-1 position-relative">
            <p
              class="m-0 text-danger position-absolute txt-14"
              *ngIf="
                changePasswordForm.controls['confirmPassword'].invalid &&
                changePasswordForm.controls['confirmPassword'].touched
              "
            >
              Please enter confirm password
            </p>
          </div>
        </div>

        <button
          type="submit"
          class="p-2 my-2 w-100 border-0 login-btn"
          [ngClass]="changePasswordForm.invalid ? 'opacity-50' : 'opacity-100'"
          [disabled]="changePasswordForm.invalid"
        >
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
