<div class="label">
  <div class="header">
    <h6 class="mb-3">{{ editlabelData ? "Update" : "Add" }} label</h6>
  </div>
  <form nz-form [formGroup]="labelForm" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="labelTitle">
        <input
          nz-input
          formControlName="labelName"
          placeholder="label title"
          #lableInput
        />
        <ng-template #labelTitle let-control>
          <ng-container *ngIf="labelForm.controls['labelName'].invalid"
            >Please enter label name</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-3">
      <nz-form-label nzRequired>Select color</nz-form-label>
      <div class="radio-container">
        <div
          class="radio-option"
          *ngFor="let color of labelColors; let i = index"
        >
          <input
            type="radio"
            [id]="'radio' + (i + 1)"
            name="labelColor"
            class="custom-radio"
            [value]="color"
            formControlName="labelColor"
            (change)="labelForm.get('labelColor')?.setValue(color)"
          />
          <label [for]="'radio' + (i + 1)"></label>
        </div>
      </div>
    </nz-form-item>
    <nz-form-item class="mb-3">
      <nz-form-control class="text-end">
        <button class="me-2" nz-button type="button" (click)="resetForm()">
          Cancel
        </button>
        <button
          nz-button
          type="submit"
          nzType="primary"
          [disabled]="labelForm.invalid"
        >
          {{ editlabelData ? "Update" : "Add" }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <hr />
  <div class="label-table">
    <h5 class="m-0">labels</h5>
    <nz-table [nzShowPagination]="false" #basicTable [nzData]="alllabels">
      <tbody>
        <tr *ngFor="let label of basicTable.data">
          <td>
            <nz-tag [nzColor]="label.labelColor">{{ label.labelName }}</nz-tag>
          </td>
          <td class="d-flex align-items-center justify-content-end">
            <span
              (click)="editlabel(label)"
              class="me-2"
              nz-icon
              nzType="edit"
              nzTheme="outline"
            ></span>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this label?"
              (nzOnConfirm)="deletelabel(label.id)"
              [nzCancelText]="'Cancel'"
              [nzOkText]="'Delete'"
            >
              <span
                class="pe-1"
                nz-icon
                nzType="delete"
                nzTheme="outline"
              ></span>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
