<div class="position">
  <div class="main-div p-3">
    <div class="m-2">
      <div
        class="m-0 pb-2 mb-2 d-flex header-txt justify-content-between align-items-center"
      >
        <p>
          <span
            class="pe-1 color-orange"
            nz-icon
            nzType="key"
            nzTheme="outline"
          ></span>
          Reset Password
        </p>
        <p class="close-btn" (click)="closePage()">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </p>
      </div>
      <p class="m-0 pb-2 opacity-50">Enter your new password here</p>
    </div>
    <div class="m-2">
      <form class="w-100" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <div class="position-relative">
          <p class="txt-13 m-0 pt-1 password mt-3">
            Password <span class="text-danger">*</span>
          </p>
          <input
            type="{{ passwordType }}"
            class="w-100 p-2 input-field-style position-relative"
            formControlName="password"
            [ngStyle]="{
              'outline-color':
                resetPasswordForm.controls['password'].invalid &&
                resetPasswordForm.controls['password'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
          <a
            (click)="togglePasswordVisibility('password')"
            class="border-0 fa-eye-position text-black"
          >
            <span
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              *ngIf="!passwordVisible"
            ></span>
            <span
              nz-icon
              nzType="eye"
              nzTheme="outline"
              *ngIf="passwordVisible"
            ></span>
          </a>
          <div class="py-1 position-relative">
            <p
              class="m-0 text-danger position-absolute txt-15"
              *ngIf="
                resetPasswordForm.controls['password'].invalid &&
                resetPasswordForm.controls['password'].touched
              "
            >
              Min character 8 (uppe, lower, special, num)
            </p>
          </div>
        </div>
        <div class="position-relative mb-2">
          <p class="txt-13 m-0 pt-1 password mt-2">
            Confirm Password <span class="text-danger">*</span>
          </p>
          <input
            type="{{ confirmPasswordType }}"
            class="w-100 p-2 input-field-style position-relative"
            formControlName="confirmPassword"
            [ngStyle]="{
              'outline-color':
                resetPasswordForm.controls['confirmPassword'].invalid &&
                resetPasswordForm.controls['confirmPassword'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
          <a
            (click)="togglePasswordVisibility('confirmPassword')"
            class="border-0 fa-eye-position text-black"
          >
            <span
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              *ngIf="!confirmPasswordVisible"
            ></span>
            <span
              nz-icon
              nzType="eye"
              nzTheme="outline"
              *ngIf="confirmPasswordVisible"
            ></span>
          </a>
        </div>

        <button
          type="submit"
          [disabled]="resetPasswordForm.invalid"
          class="p-2 my-2 w-100 border-0 login-btn"
          routerLink="/auth-module/reset-password"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
