form {
  .password {
    -webkit-text-stroke-width: thin;
    &.txt-13 {
      font-size: 13px;
    }
  }
  .login-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color-blue);
    color: white;
    font-size: 14px;
  }
  input {
    outline-color: var(--color-blue);
  }
  .fa-eye-position {
    margin-left: -30px;
    cursor: pointer;
    opacity: 0.8;
    background: transparent;
    font-size: 18px;
    position: absolute;
    top: 40%;
  }
  .input-field-style {
    border-radius: 8px;
    border: 0.5px solid rgb(128, 128, 128, 0.3);
  }
}
