<div class="position">
  <div class="main-div p-3">
    <div class="m-2">
      <div
        class="m-0 pb-2 mb-2 d-flex header-txt justify-content-between align-items-center"
      >
        <p>
          <span
            class="pe-1 color-orange"
            nz-icon
            nzType="lock"
            nzTheme="outline"
          ></span>
          Forgot Password
        </p>
        <p class="close-btn" (click)="closePage()">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </p>
      </div>
      <p class="m-0 pb-2 opacity-50">
        Enter your email that you use to register your account.
      </p>
    </div>
    <div class="m-2">
      <form
        nz-form
        class="w-100"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
      >
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <nz-input-group nzPrefixIcon="mail">
              <input
                nz-input
                formControlName="email"
                placeholder="Email"
                type="email"
                class="p-1"
                #emailInput
              />
            </nz-input-group>
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')"
                >The input is not valid E-mail!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your E-mail!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <button class="p-2 my-2 w-100 border-0 login-btn">Submit</button>
      </form>
    </div>

    <hr />
    <div class="text-center">
      <p class="m-0">
        Don't have account?
        <a class="cursor-pointer footer-txt" routerLink="/auth-module/register"
          >Register</a
        >
      </p>
    </div>
  </div>
</div>
