form {
  .login-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color-blue);
    color: white;
    font-size: 14px;
  }
}
.footer-txt {
  color: var(--color-blue);
  text-decoration: none;
}
