<div class="position">
  <div class="main-div p-3">
    <div class="m-2">
      <div
        class="m-0 pb-2 mb-2 d-flex header-txt justify-content-between align-items-center"
      >
        <p>
          <span
            class="pe-1 color-orange"
            nz-icon
            nzType="lock"
            nzTheme="outline"
          ></span>
          Forgot Password
        </p>
        <p class="close-btn" (click)="closePage()">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </p>
      </div>
      <p class="m-0 pb-2 opacity-50">
        Enter your email that you use to register your account.
      </p>
    </div>
    <div class="m-2">
      <form
        class="w-100"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
      >
        <div>
          <p class="m-0 pb-2 pt-1 txt-13 email">
            Email <span class="text-danger">*</span>
          </p>
          <input
            type="text"
            class="w-100 p-2 input-field-style"
            formControlName="email"
            [ngStyle]="{
              'outline-color':
                forgotPasswordForm.controls['email'].invalid &&
                forgotPasswordForm.controls['email'].touched
                  ? 'red'
                  : '#284ac1'
            }"
          />
        </div>

        <button class="p-2 my-2 w-100 border-0 login-btn">Submit</button>
      </form>
    </div>

    <hr />
    <div class="text-center">
      <p class="m-0">
        Don't have account?
        <a class="cursor-pointer footer-txt" routerLink="/auth-module/register"
          >Register</a
        >
      </p>
    </div>
  </div>
</div>
