form {
  .email {
    -webkit-text-stroke-width: thin;
    &.txt-13 {
      font-size: 13px;
    }
  }
  .login-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color-blue);
    color: white;
    font-size: 14px;
  }
  input {
    outline-color: var(--color-blue);
  }
  .input-field-style {
    border-radius: 8px;
    border: 0.5px solid rgb(128, 128, 128, 0.3);
  }
}
.footer-txt {
  color: var(--color-blue);
  text-decoration: none;
}
