.main-div {
  background-color: var(--color-white);
  height: 79.5%;
  .change-password-form {
    background: rgb(249, 249, 249);
    border-radius: 10px;
    width: 50vh;
    .header-txt {
      .close-btn {
        cursor: pointer;
      }
    }
  }
}
