<div class="main-div d-flex justify-content-center align-items-center">
  <div class="change-password-form p-3 mx-3">
    <div class="m-2">
      <div
        class="m-0 pb-2 mb-2 d-flex header-txt justify-content-between align-items-center"
      >
        <p>
          <span class="pe-1" nz-icon nzType="key" nzTheme="outline"></span>
          Change Password
        </p>
        <p class="close-btn" (click)="closePage()">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </p>
      </div>
      <p class="m-0 pb-2 opacity-50">Enter your new password here</p>
    </div>
    <div class="m-2">
      <form
        nz-form
        class="w-100"
        [formGroup]="changePasswordForm"
        (ngSubmit)="submit()"
      >
        <nz-form-label nzRequired>Old Password</nz-form-label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter your old password">
            <nz-input-group [nzSuffix]="oldPasswordInput">
              <input
                nz-input
                [type]="oldPasswordVisible ? 'text' : 'password'"
                formControlName="oldPassword"
                placeholder="Old password"
                #passwordElement
              />
            </nz-input-group>
            <ng-template #oldPasswordInput>
              <span
                nz-icon
                [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="oldPasswordVisible = !oldPasswordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label nzRequired>New Password</nz-form-label>
        <nz-form-item>
          <nz-form-control
            class="w-100"
            nzErrorTip="Min character 8 (uppe, lower, special, num)"
          >
            <nz-input-group [nzSuffix]="newPasswordInput">
              <input
                nz-input
                [type]="newPasswordVisible ? 'text' : 'password'"
                formControlName="newPassword"
                placeholder="New password"
              />
            </nz-input-group>
            <ng-template #newPasswordInput>
              <span
                nz-icon
                [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="newPasswordVisible = !newPasswordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label nzRequired>Confirm Password</nz-form-label>
        <nz-form-item>
          <nz-form-control
            class="w-100"
            nzErrorTip="Please enter your confirm password"
          >
            <nz-input-group [nzSuffix]="confirmPasswordInput">
              <input
                nz-input
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Confirm password"
              />
            </nz-input-group>
            <ng-template #confirmPasswordInput>
              <span
                nz-icon
                [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="confirmPasswordVisible = !confirmPasswordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" type="submit" class="w-100">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
