<div class="dashboard-div px-2">
  <div class="top-bar p-2">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo-div" (click)="reloadPage()">
        <img src="../../../assets/image/logo-svg.svg" alt="" />
      </div>
      <div class="d-flex align-items-center profile-part">
        <div class="mx-2 label-btn">
          <button
            class="d-flex align-items-center"
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="showModal('labelDialog')"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Add label
          </button>
        </div>
        <div class="ms-2 profile-div">
          <a
            class="d-flex align-items-center"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
          >
            <nz-avatar-group class="mx-1">
              <nz-avatar
                nzText="{{ loginUser.firstName[0] + loginUser.lastName[0] }}"
              ></nz-avatar>
            </nz-avatar-group>
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item routerLink="/auth-module/change-password">
                <span
                  class="pe-1"
                  nz-icon
                  nzType="security-scan"
                  nzTheme="outline"
                ></span
                >Change password
              </li>
              <li nz-menu-item (click)="logout()">
                <span
                  class="pe-1"
                  nz-icon
                  nzType="logout"
                  nzTheme="outline"
                ></span>
                Logout
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </div>

  <div class="main-div p-2">
    <div class="title mb-2">
      <h3 class="d-flex align-items-center">
        Product Development
        <span nz-icon class="ps-2" nzType="star" nzTheme="fill"></span>
      </h3>
    </div>

    <div class="board-members mt-1">
      <p class="m-0">Members on boards</p>
      <nz-avatar-group (click)="showModal('boardMemberDialog')">
        <nz-avatar
          class="show-user"
          *ngFor="let user of firstFiveUsers"
          nzText="{{ user.firstName[0] + user.lastName[0] }}"
        ></nz-avatar>
        <nz-avatar
          class="count-user"
          nzText="+{{ allUserData.length - 5 }}"
        ></nz-avatar>
      </nz-avatar-group>
      <nz-modal
        [(nzVisible)]="boardMember"
        nzTitle="All board members"
        (nzOnCancel)="closeMemberDialog()"
        [nzFooter]="null"
      >
        <ng-container *nzModalContent>
          <div>
            <p
              class="m-0 d-flex align-items-center"
              *ngFor="let user of allUserData"
            >
              <span class="pe-1" nz-icon nzType="user" nzTheme="outline"></span>
              {{ user.firstName + " " + user.lastName }}
            </p>
          </div>
        </ng-container>
      </nz-modal>
    </div>

    <div class="cards-list mt-2 d-flex">
      <div class="list m-2 mt-0" *ngFor="let list of filteredLists">
        <div
          class="card-title d-flex align-items-center justify-content-between"
        >
          <p class="mb-1 title-text d-flex align-items-center">
            <span class="pe-1">{{ list.listTitle }}</span>
            <nz-badge
              class="bedge"
              nzStandalone
              [nzCount]="list.cards.length"
              [nzStyle]="{
                backgroundColor: '#f5f5f5',
                color: 'black',
              }"
            ></nz-badge>
          </p>
          <p class="mb-1 title-action">
            <a
              class="text-secondary"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="cardMenu"
            >
              <span nz-icon nzType="ellipsis"></span>
            </a>
            <nz-dropdown-menu #cardMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="showModal('listDialog', list)">
                  <span
                    class="pe-1"
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                  ></span
                  >Edit
                </li>
                <li
                  nz-menu-item
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this list?"
                  (nzOnConfirm)="deleteList(list.id)"
                  [nzCancelText]="'Cancel'"
                  [nzOkText]="'Delete'"
                >
                  <span
                    class="pe-1"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                  ></span
                  >Delete
                </li>
              </ul>
            </nz-dropdown-menu>
          </p>
        </div>
        <div class="list-card-part mt-3 p-2">
          <h4
            class="my-3 text-center text-muted"
            *ngIf="list.cards.length <= 0"
          >
            No cards availabel
          </h4>
          <div class="card-section mb-2 p-2" *ngFor="let card of list.cards">
            <div class="d-flex align-items-center">
              <div class="label-part">
                <nz-tag
                  *ngFor="let labels of card.cardLabels"
                  [nzColor]="labels.labelColor"
                  >{{ labels.labelName }}</nz-tag
                >
              </div>
              <div
                class="card-actions"
                *ngIf="card.creator.email === loginUser.email"
              >
                <span
                  class="mx-1"
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  (click)="showModal('cardDialog', list, card, true)"
                ></span>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this card?"
                  (nzOnConfirm)="deletCard(list.id, card.id)"
                  [nzCancelText]="'Cancel'"
                  [nzOkText]="'Delete'"
                >
                  <span
                    class="mx-1"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                  ></span>
                </a>
              </div>
            </div>
            <div class="title my-1">{{ card.cardTitle }}</div>
            <div class="avatar">
              <div>
                <nz-avatar
                  *ngFor="let user of card.assignee.slice(0, 3); let i = index"
                  nzSize="small"
                  nzText="{{ user.firstName[0] + user.lastName[0] }}"
                ></nz-avatar>
                <nz-avatar
                  *ngIf="card.assignee.length > 3"
                  nzSize="small"
                  nzText="+{{ card.assignee.length - 3 }}"
                ></nz-avatar>
              </div>
            </div>
          </div>
          <div class="add-card-button mt-2">
            <button
              class="border-0 w-100 d-flex align-items-center justify-content-center"
              nz-button
              nzType="default"
              (click)="showModal('cardDialog', list)"
            >
              <span class="pe-1" nz-icon nzType="plus" nzTheme="outline"></span
              >Add card
            </button>
          </div>
        </div>
      </div>
      <button
        class="d-flex align-items-center"
        nz-button
        nzType="primary"
        nzShape="round"
        (click)="showModal('listDialog')"
      >
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        Add list
      </button>
    </div>
  </div>
</div>
